@import url("../../node_modules/css-file-icons/build/css-file-icons.css");
.filetile {
    width:200px;
    height:200px;
    border-radius: 5%;
    background-color: #efeeff;
    padding:10px;
    box-sizing: border-box;
  
}

.fileordir {
    width:100%;
    height:calc(100% - 20px);
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.filename {
    text-align: center;
    color: red;
}
.dir { 
    background-color: aquamarine;
}
.file + .filename {color :chocolate;}

.empty  + .filename{
    color:blueviolet
    
}
.deletebtn {
    float:right;
    background-color: red;
    width:20px;
    height:20px;
    text-align: center;
    border-radius: 5%;
    color:white !important;
    font-weight: bolder;
    text-decoration: none !important;
}